body {
    font-family: 'Arial', sans-serif;
}

header {
    
    background-size: cover;
    background-position: center;
}

h1, h2 {
    font-weight: bold;
}

section {  
    margin-bottom: 50px;
}

footer {
    background-color: #212529;
}
